.App {
  text-align: center;
}

.App-logo {
  width: 400px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation:infinite ;
  }
}

.Form{
  width: 1000px;
}

.App-header {
  background-color: #ffffff;
  min-height: 50vh;
  display: flex;
  font-family: Roboto, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 2vmin);
  color: rgb(52, 52, 52);
}

.check{
  font-size: calc(7px + 2vmin)
}

.App-link {
  color: #61dafb;
}

.Btn{
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
